extends layout

block content
	div#main
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js')
	//- script(src='/bower_components/three.js/build/three.min.js')
	script(src='/javascripts/maplot/maplot.js')
	script(src='/javascripts/xyplot/xyplot.js')
	script(src='/javascripts/degplot/degplot.js')
	script(src='/javascripts/pcaplot/pca2dplot.js')
	script(src='/javascripts/pcaplot/pca3dplot.js')
	script(src='/javascripts/index.js')